
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');
.container{
   max-width: 1440px;
    width: 100%;
    margin:0 auto;
    padding: 0 125px;
}
.intro__content{
    
    margin-left: 10%;
}
.intro__flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
color: #000000;
margin-bottom: 60px;


}
.intro__content p{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
width: 662px;
height: 374px;

}
.intro__block{
    
    display: flex;
    align-items: center;

}
.intro__block1,.intro__block2,.intro__block3{
    margin-left:95px ;
}

.intro__b{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    width: 150px;
    height: 39px;
}

.intro__a{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    width: 150px;
    height: 39px;
   

}
      .intro__block img{
            width: 18%;
            margin-top:44px;
         }
         .intro__flex img{
            width: 25%;
            margin-right: 190px;}


    @media screen and (max-width: 834px) 
 {
    .container{
         width: 100%;
         margin:0 auto;
         padding: 0 72px;
     }
     .intro__content{
         
         margin-left: 10%;
     }
     .intro__flex{
         display:flex;
         justify-content: space-between;
         align-items: center;
     }
     .intro__title{
        font-size:32px;
        margin-bottom: 30px;
     }
     .intro__content p{
         
     width: 383.41px;
     height: 216.61px;
     font-size: 14px;
     
     }
     .intro__block{
         
         display: flex;
         align-items: center;
     
     } 
    
     .intro__block1,.intro__block2,.intro__block3{
        margin-top: 70px;
        margin-left: 0;    
    }
    

     
     .intro__b{
         
         font-size: 15px;
         width: 140.88px;
         height: 22.59px;
     }
     
     .intro__a{
         
         font-size: 11px;
         width: 108px;
         height: 23px;
        
     
     }
           .intro__block img{
                 display: none;
              }
              .intro__flex img{
                 width: 30%;
                 margin-right:70px;
                 }      
}
@media screen and (max-width: 375px) 
 {
    .container{
         width: 100%;
         margin:0 auto;
         padding: 0 72px;
     }
     .intro__content{
         
         margin-left: 10%;
     }
     .intro__flex{
         display:inline-block;
         justify-content: space-between;
         align-items: center;
     }
     .intro__title{
        font-size: 26px;
         margin-bottom: 20px;
     
     
     }
     .intro__content p{
         
        width: 308.47px;
        height: 174.27px;
     font-size: 12px;
     
     }
     /*.intro__block{
         
         display: flex;
         align-items: center;
     
     }*/
     .intro__block1{
        margin-left: 0;
     }
     .intro__block2{
         margin-left:10%;
     }
     .intro__block3 {
        margin-left:-207px;
        margin-top:200px;
     }
     
     .intro__b{
         
        width: 69.9px;
        height: 18.17px;
        font-size: 12px;
     }
     
     .intro__a{   
        width: 86.89px;
        height: 18.5px;
        font-size: 10px;
        
     
     }
           .intro__block img{
                 display: none;
              }
              .intro__flex img{
                 width: 60%;
                 margin-top: 56px;
                 margin-left:15%;
}
     
       
}
